
/* Generics */

section{
padding: 30px;
}

img{
max-width: 100%;
display: block;
}

p{
color: #727272;
font-size: 20px;
}

.p-small{
line-height: 20px;
font-size: 15px;
}
 
h1{
margin-bottom: 30px;
}

h2{
margin-bottom: 20px;
}

h6{
color:  #2486d5;
margin-top: 50px;
margin-bottom: 0;
}

/* Header */

header{
color: black;
position: sticky;
left: 0;
top: 0;
z-index: 1;
}

#logo-sony{
width: 80px;
}

#lens{
width: 25px;
}

.play-menu img{
width: 70px;
}

.play-menu span{
font-size: 13px;
}

.support-link a{
text-decoration: none;
font-size: 13px;
}

/* PlayStation 5 */

.move img{
transition: transform 0.5s;
}

.move:hover img{ 
transform: translateY(-10px);
cursor: pointer;
}

.effect:hover::after{
content: '';
background-color: #2486d5;
height: 3px;
width: 100%;
display: block;
margin: 3px auto;
}

.effect img{
opacity: 0.5; 
}

.effect:hover img{
opacity: 1.0;
}

/* Jumbotron */

#jumbotron{
background-image: url('../img/jumbo-bg.png');
background-size: cover;
background-position: center;
height: 600px;
}

/* it-takes-two */

#it-takes-two{
background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
background-size: cover;
background-position: center;
}

/* Nuove Uscite */

#nuove-uscite{
background-color:#1f1f1f;
}

#nuove-uscite .cust-card img{
border-radius: 10%;
}

/* Playstation Plus */

#playstation-plus{
background-color: #bebcbb;
padding: 0 30px;
}

.btn{
margin-bottom: 20px;
}

.btn-cust{
color: #2061e6;
background-color: #d9dadc;
border: 0;
}

#plus,
#now,
#it-takes{
max-width: 60%;
margin-bottom: 30px;
}

/* Playstation Now */

#playstation-now{
background-color: #161c3b;
padding: 0 30px;
}

/* Social Media */

a{
cursor: pointer;
}

a img{
max-width: 200px;
}

/* Footer */

footer{
background-color: #013e90;
min-height: 550px;
padding:100px 30px;
}

footer img{
width: 100px;
margin-bottom: 10px;
}

footer a{
text-decoration: none;
color: white;
}

footer li{
margin-bottom: 10px;
}